.App {
  text-align: center;
}

.Button {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}
.Button::hover {
  background-color: blue;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}
